$grey-color: #433C3C;

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 5rem;
    position: relative;
    padding-left: 3.2rem;
    padding-right: 8rem;

    a {
    display: flex;
    align-items: center;

        img {
            width: 3rem;
            padding: 0.2rem;
        }

        h2 {
            color: $grey-color;
            font-weight: 600;
            font-size: 1.7rem;
            margin-left: 0.7rem;

            span {
                font-weight: 300;
            }
        }
    }

    p {
        font-size: .8rem;

        a {            
            color: $grey-color;
        }
    }
}